/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";


/* Global Box-Sizing Reset */
html {
  box-sizing: border-box; /* Set box-sizing for the root element */
}
*,
*::before,
*::after {
  box-sizing: inherit; /* All elements inherit box-sizing from html */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Add this if you haven't already from previous steps, to ensure body content doesn't get hidden under fixed header */
body {
  padding-top: 64px; /* Adjust this value to match your header's height */
}
