<div class="search-box-wrapper" #searchBoxWrapper>
  <input
    #searchInput
    type="text"
    class="search-box"
    placeholder="Search..."
    [(ngModel)]="searchQuery"
    (ngModelChange)="onSearchQueryChanged($event)"
    (focus)="onSearchFocus()"
    (keydown)="onKeyDown($event)"
  />

@if (searchSuggestions.length > 0 || isLoadingSuggestions) {
  <div class="suggestion-box">
    @if (isLoadingSuggestions) {
      <div>Loading...</div>
    }
    <ul>
      @for (suggestion of searchSuggestions; track suggestion.displayLabel; let i = $index) {
        <li 
          [class.active]="i === selectedSuggestionIndex"
          (click)="onSuggestionClick(suggestion)">
          {{ suggestion.displayLabel }}
        </li>
      }
    </ul>
  </div>
}
</div>
